@keyframes blink-border {
  0% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: green;
  }
}

.blinking-border {
  animation: blink-border 1s infinite;
}
